#
# You may obtain a copy of the License at
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# See the License for the specific language governing permissions and
part=xcku11p-ffva1156-1-e

[hls]
clock=3.3
flow_target=vivado
syn.file=filter2d_hw.cpp
syn.top=Filter2DKernel
tb.file=filter2d_sw.cpp
tb.file=test.cpp
tb.file=cmdlineparser.cpp
package.output.format=ip_catalog
package.output.syn=false